<div class="padding" style="padding-left:45px;font-size:small;">
  <span style="font-weight:bold;">Forgot your password?</span>
  <br/>
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    <%= devise_error_messages! %>
    <div class="gray_box" style="left:150px;width:860px;">
    	<span style="font-weight:bold;">Email</span> <span style="color:red;"id="email_message"></span>
    	<br/> 
        <%= f.email_field :email, :autofocus => true, class: "set-password-width" %>
    	<br/>
    	<%= f.submit "Send me reset password instructions", style: "color:black;background-color:#CDC953;border:thin blue solid;padding:2px 15px 2px 15px;" %>
    	<br/>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>

