<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="padding">
    <div class="gray_box">
    	<span style="font-weight:bold;font-size:x-small;">Sign in</span>
    	<br/>
    	<span style="font-weight:bold;font-size:x-small;">Email address or nickname</span>
    	<br/>
      <%= f.email_field :email, :autofocus => true, class: "email-field-width" %>
    	<br/>
      <span style="font-weight:bold;font-size:x-small;">Password</span>
      <br >
      <%= f.password_field :password, class: "email-field-width" %>
      <br/><br/>
      <input type="checkbox" name="keep_signed"> Keep me sign in on this computer
      <br/>
      <input type="checkbox" name="email_alerts"> Sign me up for <a href="#" style="text-decoration:underline;">Kutangaza deals</a> and alerts
      <br/><br/>
      <%= f.submit "Sign in", style: "color:black;background-color:#DBFF83;border:thin blue solid;" %><br/><br/>
      <%= render "devise/shared/links" %>
    </div><br/><br/>
    <div class="gray_box" style="font-size:8pt;top:550px;padding-bottom:10px;padding-top:10px;padding-right:45px;width:275px;">
    	<span style="color:red;font-weight:bold;">Protect your account</span>: Ensure that whenever you sign in to Kutangaza, the Web address in your browser starts with 
    	<span style="color:#003300;font-weight:bold;">https://secure.kutangaza.com</span>
    </div>
  </div>
<% end %>

